.nav-btn {
	margin-top: 6px !important; 
	padding-top:8px !important;
    height: 38px;
	color: #fff !important;
}

.nav-btn:hover {
	background: #4c9d44 !important;
}

.nav-img {
	margin-left: 5px;
	margin-right: -20px;
}

body {
	padding-top: 70px;

}

.navbar-stacked > .active > a,
.navbar-stacked > .active > a:hover,
.navbar-stacked > .active > a:focus {
	color: #fff !important;
	background-color: #428bca;
}

.card {
	width: 100%;
	background: lightgrey;
	border: 1px solid gray;
	margin-top: 5px;
}

.card > img {
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	opacity: 0.7;
	margin-right: 35px;
}

.card > img.active {
	opacity: 1.0;
	border: black;
}

.fixed-top {
	top:50px;
  	position:fixed;
    padding:10px;
	width: 60%;
	z-index: 1000;
	background: white;
}

.fixed-right {
	top: 70 px;
	position: fixed;
	padding-left: 50%;
}