<!DOCTYPE html>
<html>

{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Learn japanese with JPLearn
    </title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <script src="{% static 'js/sidebar.js' %}">
    </script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">
                        Toggle navigation
                    </span>
                    {% for idx in "xxx" %}
                        <span class="icon-bar">
                        </span>
                    {% endfor %}
                </button>
                <a class="navbar-brand" href="#">JPLearn</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="btn btn-success nav-btn">100 days left. Pay!</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Username &nbsp;
                            <span class="glyphicon glyphicon-user pull-right"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    Settings
                                    <span class="glyphicon glyphicon-cog pull-right"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Statistics
                                    <span class="glyphicon glyphicon-stats pull-right"></span>
                                </a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">
                                    Sign Out
                                    <span class="glyphicon glyphicon-log-out pull-right"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
    </nav>
    <div class="container">
        <!-- Begin page content -->
        <div class="row">
            <div class="col-sm-2 sidebar sidebar-left sidebar-animate sidebar-sm-show">
                <ul class="nav navbar-stacked">
                    <li class="active">
                        <a href="#">Your kanjis</a>
                    </li>
                    <li>
                        <a href="#about">Your words</a>
                    </li>
                </ul>
            </div>
            <div class="main col-sm-10 col-sm-offset-2">
                <div class="col-sm-12 btn-group fixed-top">
                    <button type="button" class="btn btn-primary col-sm-6">
                        To Learn
                    </button>
                    <button type="button" class="btn btn-default col-sm-6">
                        Already learned
                    </button>
                </div>
                <br>
                <br>
                <div id="main" class="col-sm-8">
                    {% for idx in "xxxxxxxxxxxx" %}
                        <div class="card">
                            <img src= "{% static 'img/1.png' %}">

                            <img src="{% static 'img/2.png' %}">
                            <img class="active" src="{% static 'img/3.png' %}">
                            <img src="{% static 'img/4.png' %}">
                            <img src="{% static 'img/5.png' %}">
                        </div>
                    {% endfor %}
                </div>
                <div class="col-sm-2 fixed-right">
                    <button class="btn btn-success">
                        Learn All
                    </button>
                    <br>
                    <br>
                    <button class="btn btn-default">
                        Learn #
                    </button>
                    <br>
                    <br>
                    <button class="btn btn-primary">
                        Edit
                    </button>
                    <br>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
    </script>
</body>

</html>
